.container{
    position: relative;
    margin-right: 10px;
}

.imgContainer{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .greenDotContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(137, 207, 31);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }