.receiver{
    background-color: rgb(245, 241, 241);
    color: black;
}
.sender{
    background-color: #1877f2;
    color: white;
}
.own{
    align-items: flex-end;
}
.away{
    align-items: flex-start;
}

.cover{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mainMessage{
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    max-width: 200px;
}

.time{
    margin-top: 5px;
    font-size: 10px;
    align-items: flex-end;
}
/* Styles for QuotePost component */
.quotePost {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
  }
  
  .postHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .liked{
    color: rgb(237, 5, 78);
  }

  .imageContainer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .postImageContainer {
    width: 100%;
    padding: 10px 0px;
  }
  
  .postImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .selectedImagesContainer{
    display: flex;
    flex-wrap: wrap;
  }

  .link{
    text-decoration: none;
    color: black;
  }

  .dotContainer{
    width: 170px;
    position: absolute;
    z-index: 10;
    top: 56px;
    right: 75px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 20px;
  }

  .dot:hover{
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    color: white;
  }

  .dotContainer p{
    margin: 10px 0px;
    font-size:18px;
    margin-left: 10px;
  }

  .close{
    display: flex;
    justify-content: flex-end;
  }


  
  .profilePicture {

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .userInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .userInfoLeft{
    display: flex;
    flex-direction: column;
  }
  
  .displayName {
    font-size: 16px;
    font-weight: bold;
  }
  
  .username {
    font-size: 14px;
    color: #999;
  }
  
  .quoteText {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .quoteAuthor {
    font-size: 14px;
    color: #999;
  }
  
  .postFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .actionItem {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .actionItem span {
    margin-left: 5px;
  }
  
  .timestamp {
    font-size: 12px;
  }
  