.container{
    width: 100%;
}


  .coverContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .image{
    width: 265px;
    height: 265px;
    object-fit: cover;
    padding: 5px;
    cursor: pointer;
  }
  
  .imageContainer:hover img {
    transform: scale(1.1);
  }

  .modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .selectedImageContainer{
    width: 700px;
    height: 720px;
  }
  .selectedImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 768px) {
    .image{
      width: 200px;
      height: 200px;
    }
    .coverContainer
    {
      justify-content: center;
    }
  }
