.chatContainer {
    padding: 20px;
    width: 100%;
  }
  .heading{
    margin-bottom: 30px;
  }

 .inputContainer{
    display: flex;
    align-items: center;
    width: 100%;
}
.inputContainer input{
    padding: 10px;
    width: 100%;
}

  .onlineUserContainer{
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 10px;
  }

  .noConversationContainer{
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .noConversationContainer p{
    font-size: 22px;
    color: #999;
  }
  