.container {
  position: relative;
  display: flex;
  width: 100vw;
  /* padding: 20px; */
  height: 100vh;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 50px;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  background-color: white;
  color: white;
  width: 15vw;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  position: relative;
  position: fixed;
}

.menuItem {
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
}

.content {
  /* padding: 0 10px; */
  display: flex;
  width: 825px;
  height: auto;
  background-color: white;
  position: absolute;
  left: 16%;
}

.notificationContainer {
  position: relative;
}

.count {
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(40, 40, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

.icon {
  color: black;
}
.linkName {
  font-size: 15px;
  color: black;
  margin-left: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  padding: 20px 10px;
}

.chatArea {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 430px;
  height: 100vh;
}

.userButtonContainer {
  display: flex;
  color: black;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}

.fullName {
  text-align: center;
}

.modalContainer {
  outline: none;
}

/* Add these styles to your CSS file (HomePage.module.css) */
.bottomNavbar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s;
  display: none;
  z-index: 1000;
  padding: 10px;
  width: 100%;
}

.bottomNavbar.visible {
  bottom: 0;
}
.bottomNavbar.hidden {
  bottom: -60px;
}
.link {
  color: black;
}

.test {
  position: absolute;
  padding: 20px;
  height: 750px;
  width: 750px;
  margin: 0 auto;
  overflow: auto;
}

.responsiveSideBar{
  display: none;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .chatArea {
    display: none;
  }

  .responsiveSideBar{
    display: flex;
    position: absolute;
    z-index: 1000;
    top:25px;
    right: 10px;
    justify-content: space-between;
    width: 80px;
  }

  .content {
    width: 100%;
    left: 0;
  }
  .bottomNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .test {
    position: absolute;
    padding: 20px;
    aspect-ratio: 1/1;
    width: 100%;
    top: 5%;
    overflow: auto;
  }
  .container{
    flex-direction: column;
  }
}
