.container{
    width: 100%;
    background-color: white;
    height: 100%;
    position: relative;
}

.mainSection{
    width: 100%;
}

.noPostContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 130px;
}

.noPostContainer p{
  font-size: 22px;
  color: #999;
}

.proImageContainer{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-left: 10px;
    border: 5px solid white;
    position: absolute;
    top: 170px;
    left: 0;
}

.proImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coverImageContainer{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.coverImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profileHeader{
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.profileInfoContainer{
    padding: 15px;
    margin-top: 70px;
}

.profileInfoContainer p{
    margin-bottom: 10px;
}

.editSection{
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.personalInfoContainer{
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.iconContainer{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.iconContainer span{
  margin-left: 10px;
}
.noMediaContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 130px;
}

.noMediaContainer p{
  font-size: 22px;
  color: #999;
}

.lastMsgContainer{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.lastMsgContainer p{
  font-size: 22px;
  color: #999;
}

.displayName{
    font-size: 30px;
    font-weight: bold;
}
.userName{
    font-size: 20px;
    color: #999;
}

.mainBottomSection{
    width: 100%;
    height: 100%;
    background-color: white;
}

.tabs {
    display: flex;
  }

  .modalContainer{
    outline: none;
  }
  
  .selectedImageContainer{
    width: 100%;
    height: 600px;
  }

  .selectedImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .contentContainer{
    height: 100%;
    width: 100%;
    background-color: white;
  }

  .activeTab {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
  }

  .link{
    text-decoration: none;
    color: black;
  }

  .test {
    position: absolute;
    padding: 20px;
    height: 750px;
    width: 750px;
    margin: 0 auto;
    overflow: auto;
  }

  @media only screen and (max-width: 768px) {
    .test {
      position: absolute;
      padding: 20px;
      aspect-ratio: 1/1;
      width: 100%;
      top: 5%;
      overflow: auto;
    }
    .selectedImageContainer{
      width: 100%;
      height: 400px;
    }
    .button{
      width: 70px;
      font-size: 12px;
      padding: 5px;
    }
  }