.modalContainer{
    background-color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    border-radius: 20px;
  }

  .selectedImages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
  }

  .selectedImage {
    position: relative;
    margin: 5px;
  }

  .removeIcon {
    background-color: #e74c3c;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .removeIcon:hover{
    width: 40px;
    height: 40px;
    background-color: #e74c3c;
  }

  .myMasonryGrid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: 100%;
    padding: 20px;
  }
  .myMasonryGridColumn {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  .imageContainer {
    position: relative;
    flex: 1 1 calc(50% - 10px); /* 50% width with 10px gap between images */
    max-width: 550px;
    max-height: 560px;
    padding: 10px;
  }
  
  .imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  

  .imageInput{
    display: none;
  }

  .imgContainer{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .inputArea{
    width: 100%;
    padding: 10px 20px;
    overflow: auto;
  }
  .inputArea textarea{
    width: 100%;
    min-height: 20px;
    padding: 8px;
    font-size: 18px;
    resize: none;
    outline: none;
    border: none;
    overflow: hidden;
  }

  .button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.postButton{
    display: flex;
    width: 100%;
    position: absolute;
    right: 20px;
    bottom: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.mediaContainer{
    margin-left: 40px;
    display: flex;
}
.icons{
    cursor: pointer;
    padding: 0px 10px;
}

.userInfoContainer{
    display: flex;
    align-items: center;
}
.userInfo{
    display: flex;
    flex-direction: column;
}
.displayName {
    font-size: 20px;
    font-weight: bold;
  }
  
  .username {
    font-size: 15px;
    color: #999;
  }

  .selectedImagesContainer{
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 5px;
  }

  .test {
    position: absolute;
    padding: 20px;
    height: 750px;
    width: 750px;
    margin: 0 auto;
    overflow: auto;
  }

  @media only screen and (max-width: 768px) {
    .test {
      position: absolute;
      padding: 20px;
      aspect-ratio: 1/1;
      width: 100%;
      top: 5%;
      overflow: auto;
    }
    .inputArea textarea{
      font-size: 14px;
    }
  }